/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 18, 2017, 9:57:30 PM
    Author     : User
*/
.post-container{
    background-color: #f2f2f2;
    margin-top: 50px;
}

.user-pic{
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 50px;
    height: auto;
    display: inline-block;
}

.username{
    padding-top: 15px;
    display: inline-block;
}

.username h4{
    padding-left: 15px;
}

.location{
    padding-top: 20px;
    display: inline-block;
}

.comments-container{
    margin-bottom: 20px;
}

.title{
    font-weight: bold;
}

.add-post{
    background-color: #f2f2f2;
}

.add-post:hover{
    background-color: red;
    transition-duration: 0.4s;
    color: #fff;
}